<h1 >Trash</h1>
<a href="/admin/manage" style="float: right; margin-top: -30px; margin-right: 21px; text-decoration: none; font-size: 26px">Manage Post</a>
<div class="table">
    <table>
        <colgroup>
            <col span="1" style="width: 2%;">
            <col span="2" style="width: 39%;">
            <col span="3" style="width: 36%;">
            <col span="4" style="width: 23%;">
        </colgroup>
        {{!-- <caption>Posts List</caption> --}}
        <tr>
            <th class = "title">STT</th>
            <th class = "title">Title</th>
            <th class = "title">Created at</th>
            <th class = "title">Function</th>
        </tr>

        {{#each posts}}
            <tr class="table-item">
                <th>{{sum @index 1}}</th>
                <th>{{this.title}}</th>
                <th>{{this.createdAt}}</th>
                <th>
                    <a href="" class="restore-modal" data-id="{{this._id}}">Restore</a>
                    <a class="delete-modal" href="#" data-id="{{this._id}}">Delete</a>
                </th>
            </tr>

            {{else}}
            <tr>
              <td colspan="5" style="text-align: center; font-family: OpenSans; height: 50px">
                Do not have any posts in trash.
                <a href="/admin/manage">Manage Post</a>
              </td>
            </tr>
        {{/each}}
    </table>
</div>

<div class="modal">
    <div class="confirm-modal">
        <div class="modal-title">
            <h2>Confirm</h2>
        </div>

        <div class="modal-content">
            <p>Do you want to delete this post?</p>
        </div>
        <div class="modal-choice">
            <div class="deleteChoise">
                <a style="font-family: OpenSans;" href="#"><b>DELETE</b> </a>
            </div>

            <div class="cancelChoise">
                <a style="font-family: OpenSans;" href="#" > <b>CANCEL</b> </a>
            </div>
        </div>
    </div>
</div>


<form name="delete-post-form" method="POST"></form>
<form name="restore-post-form" method="POST"></form>






<style>
    
    

    .footer{
        display: none;
    }

    h1{
        margin-left: 20px;
        margin-top: 12px;
    }

    table {
        margin: 0 auto;
        width: 90%;
    }

    .table {
        margin-top: 50px;
        min-height: 900px;
    }

    

    .title{
        text-align: center;
        font-weight: 600;
        font-size: 21px;

    }
    
    table, th, td{
        border: 1px solid #000;
        border-collapse: collapse;
    }

    th{
        padding: 8px 12px;
        /*text-align: left;*/
        border-bottom: 1px solid rgb(2, 1, 1);
        font-family: OpenSans;
        font-weight: 500;
        font-size: 16px;
    }

    th > a{
        margin: 0 12px;
        text-decoration: none;
        font-family: Kreeone2;
        font-size: 18px;
        color: rgb(69, 88, 135);
        font-weight: 500;

    }

    th > a:hover{
        color: rgb(10, 10, 10);
    }

     .modal{
        display: none;
        position: fixed;
        background-color:rgba(0, 0, 0, 0.09);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .modal.open,
    .confirm-modal.open{
        display: block;
    }

    .confirm-modal{
        display: none;
        position: absolute;
        width: 450px;
        height: 250px;
        top: 150px;
        left: 50%;
        border-radius: 12px;
        transform: translate(-50%, 0);
        background-color: rgb(255, 255, 255);
    }

    .modal-title{
        border-bottom: 3px solid #000;
    }

    .modal-title >h2{
        margin-left: 21px;
        padding: 12px 0;
        font-family: Arial, Helvetica, sans-serif;
    }

    .modal-content{
        height: 130px;
        line-height: 130px;
        text-align: center;
        font-family: OpenSans;
        font-size: 21px;
        color: #000;
    }

    .modal-choice{

    }

    .deleteChoise{
        display: inline-block;
        background-color: red;
        border-radius: 12px;
        height: 38px;
        margin-left: 200px;
    }

    .deleteChoise > a{
        color: #000;
        line-height: 38px;
        font-family: Kreeone2;
        margin: 0 12px;
        text-decoration: none;
    }

    .deleteChoise:hover {
        transform: translateY(-3px);
    }

    .cancelChoise{
        display: inline-block;
        background-color: rgb(43, 235, 43);
        border-radius: 12px;
        height: 38px;
        float: right;
        margin-right: 30px;
    }

    .cancelChoise > a{
        color: #000;
        line-height: 38px;
        margin: 0 12px;
        text-decoration: none;
    }

    .cancelChoise:hover{
        transform: translateY(-3px);
    }


}

</style>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script>
    document.addEventListener('DOMContentLoaded', function(){
        var postId;
        var deletePostForm = document.forms['delete-post-form'];
        var restorePostForm = document.forms['restore-post-form'];
        var modal = document.querySelector('.modal');
        var deleteFunc = $('.delete-modal');
        var restoreFunc = $('.restore-modal');
        var confirmModal = document.querySelector('.confirm-modal');
        var cancelConfirm = document.querySelector('.cancelChoise');
        var agreelConfirm = document.querySelector('.deleteChoise');


        restoreFunc.click(function(e) {
            e.preventDefault();
            postId = $(this).data('id');
            restorePostForm.action = '/admin/' + postId + '/restore?_method=PATCH'
            restorePostForm.submit();
        })


        deleteFunc.click(function(e){
            e.preventDefault();
            confirmModal.classList.add('open');
            modal.classList.add('open');
            postId = $(this).data('id');
        })

        agreelConfirm.onclick = function(){
            deletePostForm.action = '/admin/' + postId + '/destroy?_method=DELETE';
            deletePostForm.submit();
        }


        cancelConfirm.onclick = () => {
            modal.classList.add('open');
            modal.classList.remove('open');
        }
    })

</script>