<div class="header__introduce">
    <h1 id="brand">HaPi's Sweet Home</h1>
    <h5 id="brand__description">Stay hungry, stay foolish</h5>
</div>

<div class="grid wide">
        <div class="content row" id="blog_in_home">
            {{#each posts}}
                <div class="col l-4 m-6 c-10 c-o-1">
                    <div class="content-items row">
                        <div class="col l-12 m-12 c-10 c-o-1">
                            <div class="content-img">
                                <a href="/posts/{{this.slug}}">
                                    <img src="{{this.image}}" alt="">
                                </a>
                            </div>
                        </div>

                        <div class="col l-12 m-12 c-10 c-o-1">
                            <div class="content-text">
                                <a class="content-text__title" href="/posts/{{this.slug}}">
                                    <h3 >{{this.title}}</h3>
                                </a>
                                
                                <p class="content-text__description">
                                    {{this.description}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
</div>

{{!-- <div class="content" id="blog_in_home">
    <div class="grid wide">
        <div class="content-list row" >
            {{#each posts}}
            <div class="col l-6 m-12 c-12">
                    <div class="content-item row">
                        <div class="col l-6  ">
                            <div class="post-img">
                                <a href="/posts/{{this.slug}}">
                                    <img src="{{this.image}}" alt="">
                                </a>
                            </div>
                        </div>

                        <div class="col l-6  ">
                            <div class="post-content row">
                                <div class="col l-12 m-12 c-12">
                                    <a class="post-title" href="/posts/{{this.slug}}">
                                        <h3 >{{this.title}}</h3>
                                    </a>
                                </div>

                                <div class="col l-12 m-12 c-12">
                                    <p class="post-description">
                                        {{this.description}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            {{/each}}
        </div>
    </div>
</div> --}}

<a id="see-all" href="./posts"><p >See All...</p></a>
